<h1>Welcome to CSE Motors!</h1>

<div class="dmc-delorean-welcome">
    <div class="dmc-delorean">
        <h2>DMC DeLorean</h2>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <img src="/images/site/own_today.png" alt="Own Today" loading="lazy">
    </div>
    <picture class="dmc-delorean-picture">
        <source media="(min-width:1200px)" srcset="/images/vehicles/delorean.jpg">
        <source media="(max-width:1199px)" srcset="/images/vehicles/delorean-tn.jpg">
        <img src="/images/vehicles/delorean.jpg" alt="DMC DeLorean" loading="lazy">
    </picture>
</div>

<div class="details-container">
    <div class="dmc-delorean-reviews">
        <h2>DMC DeLorean</h2>
        <ul class="reviews">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div class="dmc-delorean-upgrades">
        <h2>DeLorean Upgrades</h2>
        <div class="delorean-cards">
            <div class="delorean-card">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Cap">
                <a href="">Flux Cap</a>
            </div>
            <div class="delorean-card">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <a href="">Flame Decals</a>
            </div>
            <div class="delorean-card">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <a href="">Bumper Stickers</a>
            </div>
            <div class="delorean-card">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                <a href="">Hub Cap</a>
            </div>
        </div>
    </div>
</div>