/*************** Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #232232;
  --secondary-color: #007BFF;
}

/*************** Header ***************/ 
#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.siteName a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--primary-color);
}

.siteName a::after {
  text-decoration: none;
  color: var(--primary-color);
}

#tools a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-color);
}

#tools a::after {
  text-decoration: none;
  color: var(--primary-color);
}

/*************** Navigation ***************/ 
.navigation {
  background-color: var(--primary-color);
  color: #FFFFFF;
}

.navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation li {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

/*************** Body ***************/ 
h1 {
  text-align: center;
}

.dmc-delorean {
  position: absolute;
  float: left;
  margin-right: 20px;
  background-color: rgba(228, 233, 234, 0.923);
}

.dmc-delorean li {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-color);
}

.dmc-delorean img {
  height: 35px;
  width: auto;
}

.dmc-delorean-picture img {
  width: 80%;
  height: auto;
}

.reviews {
  line-height: 1.5;
}

.delorean-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.delorean-card {
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border: 1px solid #000000;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delorean-card a {
  color: #FFFFFF;
}

.delorean-card a::after {
  color: #FFFFFF;
}

.veichles-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-classification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-inventory {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-inventory {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dleteInvenotry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-account {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.login {
  padding: 0.5rem;
  background-color: #007BFF;
}

.register-container {
  display: flex;          
  justify-content: center;
  align-items: center;    
}

.register {
  padding: 0.5rem;
  background-color: #007BFF;
}

.form-group {
  padding:0.5rem;
  display: flex;
  flex-direction: column;
}

.management-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*************** Media Query ***************/ 

@media screen and (min-width: 800px) {
  body {
    background-image: url("/images/site/small_check.jpg");
  }

  #wrapper {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    border: 5px solid var(--secondary-color);
    padding: 10px;
    background-color: #FFFFFF;
  }
  
  .details-container {
    display: flex;
    flex-direction: row;
  }
  
  .dmc-delorean-reviews {
    order: 2;
    flex: 1;
  }
  
  .dmc-delorean-upgrades {
    order: 1;
    flex: 1;
  }
}